* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  background-color: #FFFFFF;
  transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #421F91;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #421F91;
}

